[submodule "code-examples/blockly-intro"]
	path = code-examples/blockly-intro
	url = https://github.com/se-buw/blockly-intro.git
[submodule "code-examples/xtext-intro"]
	path = code-examples/xtext-intro
	url = https://github.com/se-buw/xtext-intro.git
[submodule "code-examples/spectra-tutorial"]
	path = code-examples/spectra-tutorial
	url = https://github.com/jringert/spectra-tutorial.git
[submodule "code-examples/dafny-intro"]
	path = code-examples/dafny-intro
	url = https://github.com/se-buw/dafny-intro.git
